.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #e4e4e4;;
    color: black;
    font-weight: 600;
    left: 0;
    right: 0;
    height: 60px;
  }
  
  .footer span {
    margin: auto;
    font-size: 1rem;
    font-weight: 300;
  }